header {
  width: 70%;
  border-radius: 0px 0px 20px 20px;
  height: 8vh;
  color: orange;
  font-weight: bolder;
  font-size: 1rem;
  box-shadow: 0px 0px 8px 2px rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list {
  font-size: 1.3rem;
}
.title,
.contents {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .list {
    font-size: 1rem;
  }
  header {
    font-size: 0.5rem;
    width: 100%;
  }
}
